[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
pylint = "*"
pytest = "*"
pytest-env = "*"
requests = "*"
docopt = "*"

[packages]
cached-property = "*"
validators = "*"

[requires]
python_version = "3.7"

[scripts]
test="pytest -vv"
i90-tools="./i90-tools"
